<%- include("header") -%>

<div class="parchment">
  <img id="background" src="" alt="">
  <div class="desc">
    <h1><%= title %></h1>
    <p><%= description %> </p>
  </div>
</div>



<%- include("footer") -%>
