<%- include("header") -%>

<div class="parchment" style="background-image: url('https://vignette.wikia.nocookie.net/iron-throne-roleplay5113/images/6/67/SS1.jpg/revision/latest?cb=20170430153028')">
  <a href="/north-east">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/images/Kingdom of Arkaddha - Blank.png" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">North East Region</p>
    </div>
  </div>
  </a>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/images/Kingdom of Arkaddha - Blank.png" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">South East Region</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/images/Kingdom of Arkaddha - Blank.png" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">North West Region</p>
    </div>
  </div>
</div>

<%- include("footer") -%>
