
<%- include("header") -%>

    <div class="main-map">
       <img id="map" src="/images/Kingdom of Arkaddha - Blank.png" alt="map">
         <div class="cities">
           <p id="city-arkaddha"><a href="/arkaddha">Arkaddha</a></p>
           <p id="city-arkatka"><a style="left: 780px; top: 290px;" href="/Arkatka">Arkatka</a></p>
           <p id="city-vitherat"><a style="left: 436px; top: 434px;" href="/Vitherat">Vitherat</a></p>
           <p id="city-trazarin"><a style="left: 206px; top: 526px;" href="/Trazarin">Trazarin</a></p>
           <p id="city-ciris-alanath"><a style="left: 139px; top: 880px;" href="/Ciris Alanath">Ciris Alanath</a></p>
           <p id="city-zendikar"><a style="left: 1050px; top: 190px" href="/Zendikar">Zendikar</a></p>
           <p id="city-khazandhar"><a style="left: 1192px; top: 110px" href="/Khazandhar">Khazandhar</a></p>

         </div>
    </div>

<%- include("footer") -%>
