
.cities p {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 700;
  font-size: 25px
}

a {
  color: black;
  position: absolute;
}

a:hover {
  color: black;
  font-size: 30px;
  text-decoration: none;
  transform: scale(1.3);
}

.main-map {
  position: absolute;
  width: 100%;
  z-index: -1;
}

#map {
  width: inherit;
}

.cities {
  position: absolute;
  top: 0px;
  left: 0px;
  text-decoration: none;
  text-shadow: 5px 5px 5px white;
  transition: transform .4s;
}

.parchment {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image:url("https://i.pinimg.com/originals/9b/3f/7e/9b3f7e3d91021f05a95539b0ebe227c9.jpg");
  background-repeat:no-repeat;
  background-size:100% 100%;
}

.desc {
  position: absolute;
  top: 100px;
  left: 100px;
}

#city-arkaddha a {
  position: absolute;
}

#city-arkatka a {
  position: absolute;
}

#city-vitherat a {
  position: absolute;
}

#city-trazarin a {
  position: absolute;
}

#city-ciris-alanath a {
  position: absolute;
}

#city-zendikar a {
  position: absolute;
}
